<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <h1 id="page-heading">
      <i class="fa-solid fa-address-book"></i>
      My Contact List
    </h1>

    <div class="main-cls">
    <div id="contacts-list-container">
      <ul style="padding-left: 0px;">
        <% for (let i of contact_list) { %>
          <li class="contact" style="padding-left: 0px;">
            <div class="details">
              <p> <%= i.name %> </p>
              <p> <%= i.phone %> </p>
            <div>
              <!--  -->
            </div class="delete-button">
              <a href="/delete-contact/user/?id=<%= i._id %>"> <i class="fa-solid fa-trash"></i> </a>
            </div>
          </li>
          <% } %>
      </ul>
    </div>

    <div id="input-sec">
      <form action="/add-contact" method="post">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter phone number" required>
      
        <button type="submit"> Add Contact</button>
      </form>
    </div>

    </div>

    <script type="text/javascript" src="/js/home.js"></script>

  </body>
</html>
